<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AvalonEdit" version="6.0.0" targetFramework="net461" />
  <package id="Castle.Core" version="4.4.0" targetFramework="net461" />
  <package id="CommonServiceLocator" version="2.0.5" targetFramework="net461" />
  <package id="DepthCameras.x64" version="1.7.1" targetFramework="net461" />
  <package id="DeviceNotifier" version="2.3.0" targetFramework="net461" />
  <package id="Extended.Wpf.Toolkit" version="3.6.0" targetFramework="net461" />
  <package id="FontAwesome.WPF" version="4.7.0.9" targetFramework="net461" />
  <package id="IVCam.Tools.CamerasSdk.Nuget.Core" version="7.2.7" targetFramework="net461" />
  <package id="IVCam.Tools.CamerasSdk.Nuget.DS5" version="7.2.7" targetFramework="net461" />
  <package id="IVCam.Tools.Infrastructure.Logging" version="2.7.0" targetFramework="net461" />
  <package id="IVCam.Tools.LoggerUI.MD" version="1.5.8" targetFramework="net461" />
  <package id="IVCAM.Tools.TestersCore" version="6.8.0" targetFramework="net461" />
  <package id="log4net" version="2.0.5" targetFramework="net461" />
  <package id="MaterialDesignColors" version="1.2.6" targetFramework="net461" />
  <package id="MaterialDesignThemes" version="3.1.3" targetFramework="net461" />
  <package id="Microsoft.WindowsAPICodePack-Core" version="1.1.0.2" targetFramework="net461" />
  <package id="Microsoft.WindowsAPICodePack-Shell" version="1.1.0.0" targetFramework="net461" />
  <package id="Microsoft.Xaml.Behaviors.Wpf" version="1.1.19" targetFramework="net461" />
  <package id="Moq" version="4.13.1" targetFramework="net461" />
  <package id="MvvmLightLibs" version="5.4.1.1" targetFramework="net461" />
  <package id="PerCHW.Tools.CameraHW.Nuget.Core" version="2.37.1" targetFramework="net461" />
  <package id="PerCHW.Tools.CameraHW.Nuget.DS5.Full" version="2.37.1" targetFramework="net461" />
  <package id="RealSense.Tools.AppTemplate.LightNuget" version="1.7.1" targetFramework="net461" />
  <package id="RealSense.Tools.TesterUI" version="4.5.0" targetFramework="net461" />
  <package id="RealSense.Tools.TesterUI.Common" version="4.5.0" targetFramework="net461" />
  <package id="SparkApiPackage" version="0.1.5" targetFramework="net461" developmentDependency="true" />
  <package id="SysMate.Infrastructure" version="1.3.0" targetFramework="net461" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.0" targetFramework="net461" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.1" targetFramework="net461" />
</packages>